* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "LaurenFont", Verdana, Geneva, Tahoma, sans-serif;
  line-height: 35px;
  background-color: #e3bd32;
}

p{
  padding-right: 10%;
  padding-left: 10%;
}
h1,
h2,
h3 {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

h2[id] {
  scroll-margin-top: 200px;
}

section {
  margin-top: 100px;
  margin-bottom: 200px;
}

.headernav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headernav a {
  margin: 0 10px;
}

header {
  background-color: rgb(131, 24, 24);
  color: #fef6c5;
  padding: 20px;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

footer {
  background-color: rgb(131, 24, 24);
  color: #fef6c5;
  padding: 20px;
  text-align: center;
}

footer a {
  color: #fef6c5;
}

a {
  color: #fef6c5;
  font-style: italic;
}

a:hover {
  color: #03650e;
  font-size: 13pt;
}

.library-scroll {
  padding-top: 15px;
  width: 100%;
  overflow-y: visible;
}

.scroll-content {
  width: 100%;
  background: linear-gradient(to bottom, #e3bd32, #092301);
}

.cover {
  width: 20%;
  display:inline-flex;
  margin-left: 15%;
  margin-right: 12%;
  margin-top: 60px;
  margin-bottom: 60px;
  transition: 0.2s;
  align-self: center;
  flex-direction: row;
}

.cover:hover {
  width: 21%;
  margin-left: 14%;
}

@media (max-width: 550px) {
  .cover {
    width: 50%;
    margin-left: 25%;
    margin-bottom: 15%;
  }

  .cover:hover {
    width: 52%;
    margin-left: 24%;
    margin-bottom: 12%;
  }
}

.bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.bio-img {
  width: 40%;
  margin-bottom: 10px;
}

@media (max-width: 650px) {
  .bio-img {
    width: 80%;
    margin: 0 auto 10px;
  }
}

#iframe-timeline {
  width: 90%;
  height: 450px;
  margin: 5%;
}

input[type="submit"] {
  background: #045a0c;
  color: white;
  border-color: #0066a2;
  margin-top: 20px;
  height: 40px;
  width: 100px;
}

input[type="submit"]:hover {
  background: #033808;
  border-color: #e74c3c;
  color: #e74c3c;
}

.gallery-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 80%;
  margin: 0 auto;
  height: 500px;
}

.gallery-container img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.gallery-container button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px 20px;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.gallery-container button:hover {
  opacity: 1;
}

.gallery-container button:first-of-type {
  left: 10px;
}

.gallery-container button:last-of-type {
  right: 10px;
}
